body{
    background:#f5f7fb;
    font-family:Arial,sans-serif;
}

.card{
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.navbar{
    background:#0d1b3e;
}

h2{
    font-weight:bold;
}